*
{
    font-family: poppins;
}

body
{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
background-color: black;
display: flex;
    /* background-image: url('./img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
     */

color: white;
}
.bg
{
    background-size: cover;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -99;
    opacity: 0.5;
}
h2
{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 25px;
}
input
{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
    padding: 18px 16px 16px 16px;
    color: white;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 5px;
}
.btn{
    padding: 8px 15px;
    color: #fff;
    background-color: red;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.parent
{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 35px 68px;
    height: max-content;
    border-radius: 2px;
}
.container
{
    width: 300px;
    height: fit-content;
    margin: auto;

    display: flex;
    flex-direction: column;

}

form
{
    display: flex;
    flex-direction: column;
    
}